@model IEnumerable<Shop.Models.FreeGames.FreeGamesIndexViewModel>

<div class="m-0 text-center h1">
	Free Games
</div>
<br />

<form asp-action="Index" method="get" class="mb-3 text-center">
	<label for="category">Filter by Category:</label>
	<select name="category" id="category" class="form-control d-inline w-auto" onchange="this.form.submit()">
		<option value="">All</option>
		<option value="mmorpg">MMORPG</option>
		<option value="shooter">Shooter</option>
		<option value="moba">MOBA</option>
		<option value="anime">Anime</option>
		<option value="battle">Battle Royale</option>
		<option value="strategy">Strategy</option>
		<option value="fantasy">Fantasy</option>
		<option value="sci-fi">Sci-Fi</option>
		<option value="card">Card Games</option>
		<option value="racing">Racing</option>
		<option value="fighting">Fighting</option>
		<option value="social">Social</option>
		<option value="sports">Sports</option>
	</select>
</form>

<div class="row justify-content-center">
	<div class="col-10 form-text text-center">
			<table class="table table-striped table-hover">
				<thead>
					<tr>					
						<th scope="col">Id</th>
						<th scope="col">Title</th>
						<th scope="col">Genre</th>
						<th scope="col">Platform</th>
						<th scope="col">Short Description</th>
						<th scope="col">Url</th>
					</tr>
				</thead>
				@if (Model != null && Model.Any())
				{
				<tbody>
					@foreach (var freeGames in Model)
					{
						<tr>
							<td>@freeGames.id</td>
							<td>@freeGames.title</td>
							<td>@freeGames.genre</td>
							<td>@freeGames.platform</td>
							<td>@freeGames.short_description</td>
							<td>
								<a href="@freeGames.game_url" class="btn btn-outline-dark" target="_blank">
								@(freeGames.platform == "Web Browser" ? "Play Now" : "To Download")
								</a>
							</td>
						</tr>
					}
				</tbody>
				}
			</table>
	</div>
</div>
